.status-bar {
  display: flex;
  justify-content: center;
  /*축 방향으로 왼쪽 중간 오른쪽 */
  /*justify-content : space-between 3등분  */
  padding: 5px 3px;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}

.main-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}
/*전체 header margin 상하 90  좌우 0   */
.main-header__title {
  margin-bottom: 40px;
  font-size: 30px;
}
.main-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}
/*input[type=~~]줘서 해봤는데 안됨 */
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#login-form input:focus {
  border-color: var(--yellow);
}
/*css variables 파일에서 원하는 색 설정해둠  */
#login-form input[type="submit"] {
  background: var(--yellow);
  cursor: pointer;
  margin-bottom: 30px;
  padding: 20px 0px;
  border-radius: 5px;
}
/* .login-form__btn 같이 BEM 방식으로 통일하는게 좋을듯.. */

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  /*색상도 부모로 상속받는게 가능 defualt black*/
  font-size: 13px;
}
