@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";
/*구글폰트 사용 import */

/*components 똑같은 화면 spring 에서는 tiles에 넣는 부분  */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";

/*해당페이지에서만 쓸 css  */
@import "screens/friends.css";
@import "screens/loginForm.css";
@import "screens/find.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
